@using Blazored.Toast
@using Blazored.Toast.Configuration
@using StockProject.Components.Pages.User
@inject NavigationManager nav
@inherits LayoutComponentBase


<BlazoredToasts Position="ToastPosition.BottomRight" Timeout="10" IconType="IconType.Material" ErrorIcon="😓"
    InfoIcon="😊" SuccessIcon="🎉" WarningIcon="⚠️" ShowProgressBar="@true" ShowCloseButton="@true" MaxToastCount="3">
    <CloseButtonContent>
        <div>
            <span class="myCloseButtonStyleClass">&times;</span>
        </div>
    </CloseButtonContent>
</BlazoredToasts>



<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <span class="me-5">
                        <a href="/Account/Manage" class="btn btn-primary">Hello @context.User.Identity?.Name</a>
                    </span>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@nav.ToBaseRelativePath(nav.Uri)" />
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="top-row px-4">
                    <NavLink href="/Account/Login" class="btn btn-primary" target="_self" ReturnUrl="@nav.Uri">Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>




        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
