@page "/TimeTable/Time1"

@inject StudentService studentService
@inject NavigationManager nav

<style>
    td {
        vertical-align: middle;
        text-align: center;
    }
</style>
<button type="button" @onclick="ChangeMode">ChangeMode</button>
@code{
    bool isMode;
    private void ChangeMode(){
        isMode=!isMode;
    }
}
<div style="display:flex;">
    <div class="input-group" style="max-width: fit-content;">

        <InputSelect TValue="string" @bind-Value=@searchTopic class="form-select">
            <option value="Name">Name</option>
            <option value="StudentClass">StudentClass</option>
        </InputSelect>
        @if (searchTopic is "StudentClass")
        {
            <InputSelect TValue="string" @bind-Value=@searchContent class="form-select">
                @foreach (var klass in classes)
                {
                    <option value=@klass.Id>@klass.Name</option>
                }
            </InputSelect>
        }
        else
        {
            <InputText @bind-Value="@searchContent" class="form-control" />
        }
        <button type="button" @onclick="StartSearch" class="btn btn-secondary">검색</button>
        <button @onclick="CancelSearch" class="btn btn-secondary border-start-1">취소</button>

    </div>
</div>

@code {
    [SupplyParameterFromQuery]
    public string? searchTopic { get; set; }
    [SupplyParameterFromQuery]
    public string? searchContent { get; set; }


    private void StartSearch()
    {
        nav.NavigateTo($"/TimeTable/Time?searchTopic={searchTopic}&searchContent={searchContent}", forceLoad: true);
    }

    private void CancelSearch()
    {
        nav.NavigateTo("/TimeTable/Time?");
    }
    protected override async Task OnParametersSetAsync()
    {
        if (String.IsNullOrWhiteSpace(searchTopic))
        {
            times = await studentService.GetAllTimesAsync();
        }
        else if (searchTopic is "Name")
        {
            times = await studentService.GetTimesByStudentNameAsync(searchContent!);
        }
        else if (searchTopic is "StudentClass")
        {
            times = await studentService.GetTimesByStudentClassAsync(searchContent!);
        }
        
    }
}

@foreach(var toto in times){
    <span>@toto.Student.Name,</span>
}


<table class="table table-bordered text-center">
    <thead>
        <tr>
            <th>시간＼요일</th>
            @foreach (var day in Enum.GetValues<DayOfWeek>())
            {
                <th>@day</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var time in Enumerable.Range(9 * 2, 30).Select(i => TimeSpan.FromMinutes(i * 30).ToString(@"hh\:mm")))
        {
            <tr>
                <th>@time</th>
                @foreach (var day in Enum.GetValues<DayOfWeek>())
                {
                    var studentTime = times.FirstOrDefault(t =>
                        t.DayOfWeek == day &&
                        t.StartTime <= TimeSpan.Parse(time) &&
                        t.EndTime > TimeSpan.Parse(time));

                    var isMergedCell = times.Any(t =>
                        t.DayOfWeek == day &&
                        t.StartTime < TimeSpan.Parse(time) &&
                        t.EndTime > TimeSpan.Parse(time));

                    @if (studentTime is not null && !isMergedCell)
                    {
                        <td rowspan="@GetRowSpan(studentTime)" style="vertical-align: middle; text-align: center; background-color: darkgray;">
                            <div><strong>@studentTime.Description</strong></div>
                            <div class="text-muted small">@($"{studentTime.StartTime:hh\\:mm} ~ {studentTime.EndTime:hh\\:mm}")</div>
                            <div class="small">@studentTime.Student.Name</div>
                        </td>
                    }
                    else if (!isMergedCell)
                    {
                        <td><em class="text-muted">-</em></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>


@code {
    @code {
        private int GetRowSpan(StudentTime time)
        {
            return (int)(time.EndTime.TotalMinutes - time.StartTime.TotalMinutes) / 30; // 30분 단위
        }
    }

    List<StudentTime> times = new();
    List<StudentClass> classes = new();
    //public List<StudentTime> unableDateTime { get; set; } = new();
    //List<StudentClass> unableDateTime = new();
    protected override async Task OnInitializedAsync()
    {
        times = await studentService.GetAllTimesAsync();
        classes = await studentService.GetAllClassAsync();
    }


}